click
Flask~=2.0.2
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug~=2.0.2
Flask-SQLAlchemy
Flask-Login
Flask-Talisman
pyotp
pycryptodome
SQLAlchemy
WTForms~=2.3.3
cryptography~=35.0.0
Flask-WTF
email-validator